@font-face {
    font-family: HarmonyOS Sans;
    src: url("Fonts/HarmonyOS_Sans_TC/HarmonyOS_Sans_TC_Regular.ttf");
}
body,html{
    margin:0;
    background-color: RGB(0,0,0);
    user-select: none;
    overflow-x: hidden;
}
h1,h4,h6,p{
    margin: 0;
}
body{
    overflow-y: hidden;
}
li{
    list-style:none;
}
h1,h2,h3,h4,h5,h6,p,a,i,em,div,li{
    font-family: HarmonyOS Sans;
}